<ion-content>
  <div class="content dark">
    <ion-title class="title" center>Ranking</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>Pos</div>
        </ion-col>
        <ion-col>
          <div>
            Nome
          </div>
        </ion-col>
        <ion-col>
          <div>
            Mortes
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let position of ranking; let i = index">
        <ion-col>
          <div>{{ i + 1 }}°</div>
        </ion-col>
        <ion-col>
          <div class="ion-text-start">
            {{ position[0] }}
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            {{ position[1] }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
